commands:
# Download tar
  "01-download-sftrace-tar":
    command: sudo curl -sSL https://github.com/snappyflow/apm-agent/releases/download/latest/sftrace-agent.tar.gz -o /tmp/sftrace-agent.tar.gz

# Untar sftrace agent to /opt/sfagent
  "02-untar":
    command: mkdir -p /opt/sfagent && tar -xvzf /tmp/sftrace-agent.tar.gz -C /opt/sfagent && rm /tmp/sftrace-agent.tar.gz

  "03-replace sftrace":
    command: mv /opt/sfagent/sftrace/sftrace /opt/sfagent/sftrace/sftrace.old && cp /opt/sfagent/sftrace/java/sftrace /opt/sfagent/sftrace/
