packages:
    yum:
        sysstat: []

files:
  "/opt/sfagent-config.yaml":
    mode: "000755"
    owner: root
    group: root
    content: |
        key: E69DoGVcuy8y8KEN983mOSnACwLpnXvbbAjf1JqB8BX1Z3w9nv+6/BHlhSImAlpvZkT1eY0LA8DZaxgr/AdK0kdp9Fx0hokwcOatFZCWLXqMelSOFvf03EVTZTt+YPGFk7ghWvLE9fusqBy5QdwPFu3Y8q0ZrNHPG51XFCe/WosUQ5qi3n1aEWLDRLnjzS+OeFCWSX0V+YvEXgvjJL0l+ZnABdes0DLUz9hGZN81gkUMMKGjSu0Z0kM66tWNk3tfGNuaoTPHwDgjRXE9mG30Dd5pExJ0cOJ65uU5RfrHptuu6ywaoCr4uKXFPMSIEkAgSUzkdCeuTSERCoAblC1WD+6nS+2xrR72aONIWFfnL7K70YrEawJosbXvuJ5fUbQMcibW6afzgglqFXFCRG2TqA==
        tags:
          Name: nodejsapp-env
          appName: nodejs
          projectName: sftrace
        metrics:
          plugins:
            - name: nginx
              enabled: true
              interval: 60
              config:
                location: stats
                port: 80
                secure: false
            - name: linux
              enabled: true
              interval: 30
        logging:
          plugins:
            - name: nginx-access
              enabled: true
              config:
                geo_info: false
                log_path: /var/log/nginx/access.log, /var/log/nginx/access_log
                ua_parser: false
            - name: nginx-error
              enabled: true
              config:
                log_level:
                  - emerg
                  - alert
                  - error
                log_path: /var/log/nginx/error.log, /var/log/nginx/error_log
            - name: linux-syslog
              enabled: true
              config:
                log_level:
                  - error
                  - warning
                  - info
                log_path: /var/log/syslog,/var/log/auth.log,/var/log/messages,/var/log/secure

  "/tmp/install.sh":
    mode: "000755"
    owner: root
    group: root
    source: https://raw.githubusercontent.com/snappyflow/apm-agent/master/install.sh
    
  "/tmp/configure_sfagent.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #! /bin/bash
      echo "Replace Config"
      mv -f /opt/sfagent-config.yaml /opt/sfagent/config.yaml
      echo "Restart sfagent service"
      service sfagent restart > /dev/null 2>&1
      echo "Done"
      echo

commands:
  10-sfagent-install:
    command: bash /tmp/install.sh > /tmp/sfagent_install.log 2>&1; echo
    cwd: /tmp
    test: '[ -x /tmp/install.sh ]'
  11-sfagent-config:
    command: sh configure_sfagent.sh; echo
    cwd: /tmp
    test: '[ -x configure_sfagent.sh ]'

