option_settings:
  aws:elasticbeanstalk:application:environment:
    SFTRACE_PROJECT_NAME: 'PROJECTNAME'
    SFTRACE_APP_NAME: 'APP_NAME'
    SFTRACE_PROFILE_KEY: 'PROFILE KEY DOWNLOADED FROM SNAPPYFLOW'

commands:
# Download tar
  "01-download-sftrace-tar":
    command: sudo curl -sSL https://github.com/snappyflow/apm-agent/releases/download/latest/sftrace-agent.tar.gz -o /tmp/sftrace-agent.tar.gz

# Untar sftrace agent to /opt/sfagent
  "02-untar":
    command: mkdir -p /opt/sfagent && tar -xvzf /tmp/sftrace-agent.tar.gz -C /opt/sfagent && rm /tmp/sftrace-agent.tar.gz

  "03-replace sftrace":
    command: mv /opt/sfagent/sftrace/sftrace /opt/sfagent/sftrace/sftrace.old && cp /opt/sfagent/sftrace/java/sftrace /opt/sfagent/sftrace/

# Set global env variable
  "04-setvars":
    command: /opt/elasticbeanstalk/bin/get-config environment | jq -r 'to_entries | .[] | select(.key=="SFTRACE_APP_NAME" or .key=="SFTRACE_PROJECT_NAME" or .key=="SFTRACE_PROFILE_KEY") | "export \(.key)=\"\(.value)\""' > /etc/profile.d/sftrace-env.sh
packages:
    yum:
        jq: []
