packages:
    yum:
        sysstat: []

files:
  "/opt/sfagent-config.yaml":
    mode: "000755"
    owner: root
    group: root
    content: |
        key: Iet4nPb/LQLq20okQIjt4MO0LCjjP4tF0+E0oo3yv51uVN0PQ91YZcZx/A155O/Q92wy4G0qpkqlJmehczSqkCfptaykzhrfhlk8oOZ8viCKibKcKeWDQsNZcBM8t0f7UyjeoogK2nsLLJ4z8bV9myaaqT0Ru/kH5synKKejJANKQwg0m/0o/hN1rwuVuFR0UStmSKkb+I1BYnPxx+0yn+ZjD7RDFaqgd5zVLl8w6WoZNJsGJYhPep1VS0XVXYRzayf+ycCpigkYxN9Iwsd4g9mK76kU/TdnbXr48hcZzHqZUID/QtwSjMyD6RRil7XFnx0vMlRNpkK1hpcmCXPBWM263KxBcbLj/lVxzlbHyqS/641B30LJhwI/1RUS3sab3CxoQrBQPQPPjyHXMi8R+A==
        generate_name: true
        tags:
          Name: nodejs-express
          appName: nodejs
          projectName: sftrace
        metrics:
          plugins:
            - name: linux
              enabled: true
              interval: 30
        logging:
          plugins:
            - name : generic-parser
              enabled : true
              config :
                log_path: /var/log/eb-docker/containers/eb-current-app/*.log
            - name: linux-syslog
              enabled: true
              config:
                log_level:
                  - error
                  - warning
                  - info
                log_path: /var/log/syslog,/var/log/auth.log,/var/log/messages,/var/log/secure

  "/tmp/install.sh":
    mode: "000755"
    owner: root
    group: root
    source: https://raw.githubusercontent.com/snappyflow/apm-agent/master/install.sh
    
  "/tmp/configure_sfagent.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #! /bin/bash
      echo "Replace Config"
      mv -f /opt/sfagent-config.yaml /opt/sfagent/config.yaml
      echo "Restart sfagent service"
      service sfagent restart > /dev/null 2>&1
      echo "Done"
      echo

commands:
  10-sfagent-install:
    command: bash /tmp/install.sh > /tmp/sfagent_install.log 2>&1; echo
    cwd: /tmp
    test: '[ -x /tmp/install.sh ]'
  11-sfagent-config:
    command: sh configure_sfagent.sh; echo
    cwd: /tmp
    test: '[ -x configure_sfagent.sh ]'

container_commands:
  12-sfagent-restart:
    command: service sfagent restart > /dev/null 2>&1; echo
    cwd: /opt/sfagent
    test: '[ -x /opt/sfagent/sfagent ]'
